In [41]:
import json
import pandas as pd

with open(r"C:\Users\prava\Downloads\odms_json\460039.json") as f:
    data = json.load(f)
    
#convert to dataframe 
df = pd.json_normalize(data, 'innings')

In [50]:
df

,team,overs,powerplays,target.overs,target.runs
0,Bahamas,"[{'over': 0, 'deliveries': [{'batter': 'M Tayl...","[{'from': 0.1, 'to': 9.6, 'type': 'mandatory'}]",NaN,NaN
1,Bermuda,"[{'over': 0, 'deliveries': [{'batter': 'FS Cro...","[{'from': 0.1, 'to': 9.7, 'type': 'mandatory'}]",49.0,129.0

In [45]:
df.columns

Index(['team', 'overs', 'powerplays', 'target.overs', 'target.runs'], dtype='object')